<head>

  <meta charset="utf-8">
  <title>Hantas: 全适应型 CSS 框架</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/assets/css/normalize.min.css">
  <link rel="stylesheet" href="/assets/css/hantas.min.css">
  <link rel="stylesheet" href="/assets/css/site.min.css">

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/run_prettify.js">
  </script><script src="/assets/js/site.js"></script>
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">

</head>
