<section class="header">
  <h2 class="title">基于 CSS 逻辑属性构建的下一代 CSS 应用。</h2>

  <div class="row">
    <div class="four columns">
      <img class="value-img" src="/assets/images/feather.svg"> 约550行代码 &amp; 为移动设备而生
    </div>
    <div class="four columns value-prop">
      <img class="value-img" src="/assets/images/pens.svg"> 始于设计，而非 UI 框架
    </div>
    <div class="four columns value-prop">
      <img class="value-img" src="/assets/images/watch.svg"> 不需编译、安装，开箱即用
    </div>
  </div>

  <div class="row">
  <br><br><br>
    <a class="button button-primary" href="">下载试用 Hantas</a>
  </div>

</section>
