<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/">Hantas</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/docs/">文档</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/typography/" data-popover="#codeNavPopover">排版</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/writing-mode" data-popover="#writingLayout">书写模式</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/about" data-popover="#moreNavPopover">关于</a></li>
    </ul>
  </div>
</nav>
